@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');

body { 
    margin: 0; 
    overflow: hidden; 
    background-color: #E6E9EE;  /* Light blue-gray background */
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #E6E9EE 0%, #D0D3D8 100%);
}


#info {
    position: absolute;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 5em;
    font-weight: 700;
    letter-spacing: 0.05em;
    z-index: 1;
    color: white;
    text-transform: uppercase;
    top: 45%; /* Adjust this value to move the text up or down */
    transform: translateY(-50%);
}

#subtitle {
    position: absolute;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 1.5em;
    font-weight: 400;
    letter-spacing: 0.05em;
    z-index: 1;
    color: white;
    text-transform: lowercase;
    top: calc(45% + 3em); /* Adjust this value to match the main text position */
    transform: translateY(-50%);
}